*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f0f0f0;
  color: white;
  font-family: sans-serif;
}
.button{
  font-size: 32px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
#heart-holder{
  background-color: white;
  padding: 15px;
  color:red;
  margin-right: : -8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
}
#message-holder{
  background-color: #E7273F;
  padding: 15px 40px;
  margin-left: -8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.heart{
  animation: fly 3s linear forwards;
}
@keyframes fly{
  to {
    transform: translate(-50%, -50px);
  }
}
footer{
  font-size: 24px;
  margin-left: 5%;
  color: black;
}
@media (max-width : 525px){
  footer{font-size: 32px}
}
